{% extends "layout.njk" %}

{% block head %}

    <title>Teachers</title>

{% endblock %}

{% block content %}
    
    <section class="card">
        <div class="card-image" style="background: url('https://source.unsplash.com/collection/8491653/400x400') no-repeat center center / cover"></div>

        <form class="card-details" method="POST" action="/teachers">
            <h3>Novo Professor</h3>

            {% include "teachers/fields.njk" %}

            <div class="item">
                <button type="submit">Salvar</button>
            </div>
        </form>
    </section>

{% endblock %}