{% extends "layout.njk" %}

{% block header %}

    <a href="/">Voltar</a>

{% endblock %}

{% block content %}

    <div class="error">
        <h1>Erro 4004</h1>
        <p>Nenhum conteúdo encontrado</p>
    </div>

{% endblock %}