{% extends "layout.njk" %}

{% block head %}

    <title>{{page.title}}</title>
    
{% endblock %}
    
{% block header %}

    <a href="/">Cursos</a>

{% endblock %}

{% block content %}
    
    <section class="page-cards">
            <div class="card page-card" id="{{page.id}}">
                <div class="card-image">
                    <img src="{{page.image}}" alt="Imagem de {{page.title}}">
                </div>
                <div class="card-title page-title">
                    <h1>{{page.title}}</h1>
                </div>
                <div class="card-info">
                    <p>{{page.author}}</p>
                    <p>{{page.duration}}</p>
                </div>
            </div>
    </section>

    <script src="scripts.js"></script>

{% endblock %}